<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAX IDEA | Your Trusted Tax Advisor | Our Services</title>
    <link rel="shortcut icon" href="../../../dist/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/style/style.css">
</head>
<body>
    <header>
        <a href="../../../index.html" id="companyName">TAX IDEA</a>
        <nav>
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li class="nav-dropdown-container">
                    <a class="active">Our Service</a>
                    <ol class="nav-dropdown">
                        <li><a href="tax-advicesory.html">Tax Advicesory Service</a></li>
                        <li><a class="active" href="tax-compliance.html">Tax Compliance Service</a></li>
                        <li><a href="transfer-pricing.html">Transfer Pricing Service</a></li>
                    </ol>
                </li>
                <li class="nav-dropdown-container">
                    <a>About Us</a>
                    <ol class="nav-dropdown">
                        <li><a href="../about us/about-us.html">About</a></li>
                        <li><a href="../about us/company-profile.html">Company Profile</a></li>
                        <li><a href="../about us/vision-mission.html">Vision Mission</a></li>
                        <li><a href="../about us/our-team.html">Our Team</a></li>
                    </ol>
                </li>
                <li><a href="../contact/contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <button id="hamburgerButton">
            <div class="inner-line"></div>
        </button>
    </header>
    <main>
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li><a href="tax-advicesory.html">Tax Advicesory Service</a></li>
                    <li><a href="tax-compliance.html" class="active">Tax Compliance Service</a></li>
                    <li><a href="transfer-pricing.html">Transfer Pricing Service</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="title-container">
                    <img class="our-service-image" src="../../../dist/images/our-service 2.png" alt="">
                    <h1>Tax Compliance Service</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus tempore nam deserunt sequi dolorem, autem enim error mollitia vel voluptatem voluptates ad delectus. commodi aliquid beatae nesciunt unde reiciendis provident odio! Ab impedit itaque porro debitis totam, quibusdam, aliquam laborum molestiae ut consequatur quidem consectetur voluptas fuga tempore aliquid cupiditate? Odio libero necessitatibus aliquid tenetur repellendus? Quas officiis nemo accusamus sunt enim expedita.</p>
                <p>Repudiandae veritatis cumque a sapiente ut rem nobis hic. Quo eius adipisci neque inventore ex voluptates molestias nesciunt odit, quas error corporis doloremque ducimus, consequatur illo a eveniet accusamus molestiae praesentium esse, repellat perferendis. Aliquid, eius!</p>
                <p>impedit itaque porro debitis totam, quibusdam, aliquam laborum molestiae ut consequatur quidem consectetur voluptas fuga tempore aliquid cupiditate? Odio libero necessitatibus aliquid tenetur repellendus? Quas officiis nemo accusamus sunt enim expedita. Repudiandae veritatis cumque a sapiente ut rem nobis hic. Quo eius adipisci neque inventore ex voluptates molestias nesciunt odit eius!</p>
                <div class="button-container">
                    <a href="../contact/contact.html" class="btn">Contact Us</a>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="office-information">
            <h2>Tax Idea</h2>
            <p>
                Sudirman 7.8 Tower
                <br>
                Level 16 Unit 1 & 2, Jl. Jend. Sudirman
                <br>
                No.Kav 7-8, Kecamatan Tanah Abang
                <br>
                Jakarta Pusat
                <br>
            </p>
            <p>
                +62 21 *** ****
                <br>
                contact@taxidea.com
            </p>
        </div>
        <nav>
            <div class="social">
                <a href="https://id.linkedin.com/" target="_blank">
                    <img src="../../../dist/images/linkedin.png" alt="linkedin">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="../../../dist/images/instagram.png" alt="Intagram">
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img src="../../../dist/images/twitter.png" alt="Twitter">
                </a>
            </div>
            <ul>
                <li><a href="tax-advicesory.html">Our Service</a></li>
                <li><a href="../about us/about-us.html">About Us</a></li>
                <li><a href="../contact/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </footer>
    <div class="footer-common">
        <p>TAX IDEA &copy;2022 | ALL RIGHT RESERVED | DEVELOPED BY JEREMY</p>
    </div>
    <script src="../../../dist/js/drawer.js"></script>
</body>
</html>